@font-face {
font-family: segoeui;
src:url(segoeuil.ttf);
}

/* --- Basic Layout ------------------------------------------------------------------------------------------------ */

html
{
	background-color: #c8c6b9;
	margin:0px auto;
	padding:0px;
	overflow: hidden;
	font-size: 100%;
	width: 640px;
	height: 920px;
	font-family: segoeui !important;
}

body
{
  margin:0px;
  padding:0px;
  font-size:1em;
  
}

h1 {
	font-size: 50px;
	margin: 0px;
	padding: 0px;
	color: #5A524B;
}

div#content
{
  height: 790px;
  margin: 0px auto;
  z-index: 0;
}

div#controls
{
  position: fixed;
  bottom:0px;
  margin: 0px auto;
  width: 640px;
  height: 127px;
  border-top: 1px solid #282521;
  z-index: 1;
  background-image: url('../../images/controls_background.png');
  text-align:center;
}

div#controls ul
{
  width: 640px;
  height:100%;
  margin:0px auto;
  padding:0px;
  list-style-type:none
}

div#controls li
{
  display:inline-block;
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 17px;
}

div#controls li img
{
	margin: 0px;
	padding: 0px;
  	border:0px;
  	width: 120px;
  	height: 120px;
}

div#dropshadow_controls {
	position: fixed;
	bottom: 127px;
	background: url("../../images/shadow8px.png") repeat-x scroll left top transparent;
	height: 6px;
	width: 640px;
}

/* Hardwareunterstützung auf iOS */
img.olTileImage
{
  -webkit-transform: translate3d(0, 0, 0);
}

/* --- Standardelemente -------------------------------------------------------------------------------------------- */

div.userprofile {
	background-image: url('../../images/controls_background.png');
	color: white;
	padding: 15px;
	font-size: 50px;
}

div.userprofile img {
	width: 70px;
	height: 70px;
	border-radius: 4px;
	vertical-align: top;
}

div.contentbox {
	margin: 0px;
}

div.contentbox_friends {
	clear: both;
	margin: 0px;
}

div.contentbox > ul {
  	list-style-type: none;
  	padding: 0px;
  	margin: 0px;
}

li.button_long {
	text-decoration: none;
	color: white;
	background-color: #be7844;
	border-radius: 0px;
	border: 1px solid #707070;
	display: block;
	margin: 0px;
/*	padding: 25px;*/
	text-align: left;
	font-size: 30px;
}

li.button_long a {
	text-decoration: none;
	color: white;
}

li.button_long.green {
	background-color: #8cb192;
}

li.button_long.blue {
	background-color: #75a6a3;
}

li.button_long.red {
	background-color: #be7844:
}

li.button_long img {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	vertical-align: bottom;
	border-radius: 4px;
}
/*
a.button_long #new_messages {
	color: black;
	font-size: 22px;
	border: 2px solid black;
	display: inline-block;
	background-color: #E12D2D;
	width: 25px;
	height: 25px;
	border-radius: 20px;
	margin-left: -70px;
	margin-right: 40px;
}*/

.button_normal {
	background-color: #928875;
	border: none;
    border-radius: 4px;
  /*color: white; */ /* Schriftfarbe der Buttons in weiß besser???  */
	color: #5A524B;
    font-size: 50px;
    font-family: segoeui;
    font-weight: bold;
    padding: 25px 25px;
   	margin: 10px 0px; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.button_normal.blue {
	background-color: #75a6a3 !important;	
}

.button_normal.red {
	background-color: #be7844 !important;	
}

.button_normal img {
	height: 67px;
	margin: 0px;
	padding: 0px;
}

.list_entry {
	width: 70%;
	display: inline-block;
	padding: 25px 0px 25px 25px;
/*	border: 1px solid black;*/
}

.button_small {
	float: right;
	width: 20%;
	padding: 25px 0px 25px 0px;
/*	margin-right: 60px;*/
	text-align: center;
/*	border-radius: 5px;*/
	border-left: 1px dashed #707070;
}

.button_small.blue {
/*	background-color: #93ccc9;*/
}

.button_small.green {
/*	background-color: #abd6b3;*/
}

.arrow {
	float: right;
/*	margin-right: 40px;*/
}

/* --- Login ------------------------------------------------------------------------------------------------------- */

div#login_form, div#signup_form {
	margin: 0px 10px;
	padding-top: 10px;
	color: #5A524B;
}

div#login_header, div#signup_header {
	text-align: center;
	font-size: 40px;
	margin: 0px 0px 20px 0px;
}

div#login_header p, div#signup_header p {
	margin: 0px;
	padding: 0px;
}

p#login_logo {
	font-size: 70px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

input[type=text], input[type=password] {
	background: none repeat scroll 0 0 transparent;
	display: block;
	margin: 5px 0px;
	width: 100%;
	border: 1px solid #928875;
	border-radius: 3px;
	font-size: 50px;
	font-family: segoeui;
	height: 100px;
	padding: 5px;
}

input[type=submit], #login_form>form>a, #signup_form>form>a {
	background-color: #928875;
	border: none;
    border-radius: 4px 4px 4px 4px;
  /*color: white; */ /* Schriftfarbe der Buttons in weiß besser???  */
	color: #5A524B;
    font-size: 50px;
    font-family: segoeui;
    font-weight: bold;
    width: 100%;
    padding: 25px 0px;
   	margin: 10px 0px; 
    display: block;
    text-align: center;
    text-decoration: none;
}

/* --- Dashboard --------------------------------------------------------------------------------------------------- */

div#friend_info {
/*	background-color: #c8c6b9;*/
	background-image: url("../../images/back_test.png");
	color: white;
	padding: 0px;
	margin: 0px;
}

canvas#nearestfriendsCanvas {
	margin-top: -90px;
	margin-bottom: 30px;
}

div#button_header {
	display: inline-block;
}

span.additional_text {
	font-size: 16px;
}

div#logout_button {
	float: right;
	background-image: url('../../images/controls_background.png');
	border-radius: 0px 0px 5px 5px;
	margin-right: 10px;
	text-align: center;
}

div#logout_button a {
	text-decoration: none;
}

div#logout_button img {
	width: 70px;
	height: 70px;
	margin: 10px 10px 2px 10px;
}

div#logout_button p {
	margin: 0px 0px 2px 0px;
	padding: 0px;
	font-size: 18px;
	text-decoration: none;
	color: white;
}

/* --- Friends ------------------------------------------------------------------------------------------------------ */

div#friends_add_button {
	float: right;
}

div#friends_groups_button {
	float: left;
}

div#friend_details {
	color: #5A524B;
	font-size: 50px;
}

div#friend_detail_image {
	margin: 5px;
}

div#friend_detail_image img {
	width: 70px;
	height: 70px;
	vertical-align: top; 
	border-radius: 5px;
}

.button_side {
	margin: 0px 5px !important;
}

/* --- Gruppen ----------------------------------------------------------------------------------------------------- */

div#add_info {
	margin: 10px;
	font-size: 30px;
	margin: 0px auto;
}

/* --- Seiten ------------------------------------------------------------------------------------------------------ */

div#window
{
  width:100%;
  height:100%;
  overflow-x: hidden;
  overflow-y: auto;
}

div#scroll
{
  width:100%;
  height:25px;
  position:absolute;
  bottom:0px;
  z-index:999;
  text-align:center;
  line-height:25px;
  font-size:25px;
  font-weight:bold;
  color:#ffffff;
}

div#scroll a
{
  color:#ffffff;
  text-decoration:none;
}

ul#pages
{
  margin:0px;
  padding:0px;
  width:5000px;
  height:100%;
  list-style-type:none;
  position:relative;
  left:0px;
  top:0px;
  font-size: 30px;
  font-weight: bold;
  position: relative; /* weil sonst die friends seite nicht geht*/
}

ul#pages>li
{
  float: left;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  max-width: 640px;
  height: 100%;
}

/* --- Überschriften ----------------------------------------------------------------------------------------------- */


/* --- Nachrichtensystem ------------------------------------------------------------------------------------------- */

.messageseparator hr
{
  border:0px;
  height:1px;
  margin:25px 0;
  background:#ccc;
}

/* --- Buttons ----------------------------------------------------------------------------------------------------- */

/* http://css3button.net/13291 */

/*button
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #606060;
  padding: 5px 8px;
  background-color:#e9e9e9;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #afafaf;
  -moz-box-shadow:
    0px 1px 1px rgba(000,000,000,0.1),
    inset 0px 1px 1px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 1px rgba(000,000,000,0.1),
    inset 0px 1px 1px rgba(255,255,255,1);
}

button a
{
  text-decoration:none;  
}

button.grey
{
  color: #606060;
  background-color:#e9e9e9;
}

button.green
{
  color: #eeeeee;
  background-color:#669933;
}

button.darkgrey
{
  color: #ffffff;
  background-color:#666666;
}*/

