@font-face {
font-family: segoeui;
src:url(segoeuil.ttf);
}

/* --- Basic Layout ------------------------------------------------------------------------------------------------ */

html
{
	background-color: #c8c6b9;
	margin:0px auto;
	padding:0px;
	overflow: hidden;
	font-size: 100%;
	width: 640px;
	height: 920px;
	font-family: segoeui !important;
}

body
{
  margin:0px;
  padding:0px;
  font-size:1em;
  
}

h1 {
	font-size: 50px;
	margin: 0px;
	padding: 0px;
	color: #5A524B;
}

h2 {
	font-size: 30px;
	margin: 15px 5px 10px 0px;
	padding: 0px;
	color: #5A524B;
}

div#content
{
  height: 790px;
  margin: 0px auto;
  z-index: 0;
}

div#controls
{
  position: fixed;
  bottom:0px;
  margin: 0px auto;
  width: 640px;
  height: 127px;
  border-top: 1px solid #282521;
  z-index: 11;
  background-image: url('../../images/controls_background.png');
  text-align:center;
}

div#controls ul
{
  width: 640px;
  height:100%;
  margin:0px auto;
  padding:0px;
  list-style-type:none
}

div#controls li
{
  display:inline-block;
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 17px;
}

div#controls li img
{
	margin: 0px;
	padding: 0px;
  	border:0px;
  	width: 120px;
  	height: 120px;
}

div#dropshadow_controls {
	position: fixed;
	bottom: 127px;
	background: url("../../images/shadow8px.png") repeat-x scroll left top transparent;
	height: 6px;
	width: 640px;
}

/* Hardwareunterstützung auf iOS */
img.olTileImage
{
  -webkit-transform: translate3d(0, 0, 0);
}

/* --- Standardelemente -------------------------------------------------------------------------------------------- */

div.userprofile {
	background-image: url('../../images/controls_background.png');
	color: white;
	padding: 15px;
	font-size: 50px;
}

div.userprofile img {
	width: 70px;
	height: 70px;
	border-radius: 4px;
	vertical-align: top;
}

div.contentbox {
	margin: 0px;
}

div.contentbox_friends {
	clear: both;
	margin: 0px;
}

div.contentbox > ul {
  	list-style-type: none;
  	padding: 0px;
  	margin: 0px;
}

li.button_long {
	text-decoration: none;
	color: white;
	background-color: #be7844;
	border-radius: 0px;
	border: 1px solid #707070;
	display: block;
	margin: 0px;
/*	padding: 25px;*/
	text-align: left;
	font-size: 30px;
}

li.button_long a {
	text-decoration: none;
	color: white;
}

li.button_long.green {
	background-color: #8cb192;
}

li.button_long.blue {
	background-color: #75a6a3;
}

li.button_long.red {
	background-color: #be7844:
}

li.button_long img {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	vertical-align: bottom;
	border-radius: 4px;
}

.button_normal {
	background-color: #928875;
	border: none;
    border-radius: 4px;
  /*color: white; */
	color: #5A524B;
    font-size: 50px;
    font-family: segoeui;
    font-weight: bold;
    padding: 25px 25px;
   	margin: 10px 0px; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.button_map {
	background-color: #928875;
	border: none;
    border-radius: 4px;
	color: #5A524B;
    font-size: 30px;
    font-family: segoeui;
    font-weight: bold;
    padding: 15px 15px;
   	margin: 10px 10px 0px 0px; 
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.button_normal.blue {
	background-color: #75a6a3 !important;	
}

.button_normal.red {
	background-color: #be7844 !important;	
}

.button_normal img {
	height: 67px;
	margin: 0px;
	padding: 0px;
}

.list_entry {
	width: 70%;
	display: inline-block;
	padding: 25px 0px 25px 25px;
/*	border: 1px solid black;*/
}

.button_small {
	float: right;
	width: 20%;
	padding: 25px 0px 25px 0px;
/*	margin-right: 60px;*/
	text-align: center;
/*	border-radius: 5px;*/
	border-left: 1px dashed #707070;
}

.arrow {
	float: right;
}

/* --- Login ------------------------------------------------------------------------------------------------------- */

div#login_form, div#signup_form {
	margin: 0px 10px;
	padding-top: 10px;
	color: #5A524B;
}

div#login_header, div#signup_header {
	text-align: center;
	font-size: 40px;
	margin: 0px 0px 20px 0px;
}

div#login_header p, div#signup_header p {
	margin: 0px;
	padding: 0px;
}

p#login_logo {
	font-size: 70px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

input[type=text], input[type=password], textarea, .selection input {
	background: none repeat scroll 0 0 transparent;
	display: block;
	margin: 5px 0px;
	width: 100%;
	border: 1px solid #928875;
	border-radius: 3px;
	font-size: 50px;
	font-family: segoeui;
	height: 100px;
	padding: 5px;
}

input[type=submit], #login_form>form>a, #signup_form>form>a {
	background-color: #928875;
	border: none;
    border-radius: 4px 4px 4px 4px;
  /*color: white; */
	color: #5A524B;
    font-size: 50px;
    font-family: segoeui;
    font-weight: bold;
    width: 100%;
    padding: 25px 0px;
   	margin: 10px 0px; 
    display: block;
    text-align: center;
    text-decoration: none;
}

/* --- Dashboard --------------------------------------------------------------------------------------------------- */

div#friend_info {
/*	background-color: #c8c6b9;*/
	background-image: url("../../images/back_test.png");
	color: white;
	padding: 0px;
	margin: 0px;
	z-index: 1 !important;
}

canvas#nearestfriendsCanvas {
/*	margin-top: -90px;*/
	margin-top: 20px;
	margin-bottom: 28px;
	z-index: 1;
}

div#button_header {
	display: inline-block;
}

span.additional_text {
	font-size: 16px;
}

div#logout_button {
/*	float: right;*/
	position: absolute;
	left: 530px;
	background-image: url('../../images/controls_background.png');
	border-radius: 0px 0px 5px 5px;
	margin-right: 10px;
	text-align: center;
	z-index: 10;
}

div#logout_button a {
	text-decoration: none;
}

div#logout_button img {
	width: 70px;
	height: 70px;
	margin: 10px 10px 2px 10px;
}

div#logout_button p {
	margin: 0px 0px 2px 0px;
	padding: 0px;
	font-size: 18px;
	text-decoration: none;
	color: white;
}

/* --- Friends ------------------------------------------------------------------------------------------------------ */

div#friends_add_button {
	float: right;
}

div#friends_groups_button {
	float: left;
}

div#friend_details {
	color: #5A524B;
	font-size: 50px;
}

div#friend_detail_image {
	margin: 5px;
}

div#friend_detail_image img {
	width: 70px;
	height: 70px;
	vertical-align: top; 
	border-radius: 5px;
}

.button_side {
	margin: 0px 5px !important;
}

/* --- Gruppen ----------------------------------------------------------------------------------------------------- */

div#add_info {
	margin: 10px;
	font-size: 30px;
	margin: 0px auto;
}

/* --- Events ------------------------------------------------------------------------------------------------------ */
 
a.add_event {
	float: right;
}

div#events {
	margin-top: 5px;
}

span.list_entry_events {
	width: 55%;
	display: inline-block;
	padding: 25px 0px 25px 25px;
}

/* Show Events */  

a.edit_event_button img{
	width: 60px;
	height: 60px;
}

div#event_basedata table {
	font-size: 30px;
	margin: 5px;
}

div#outlinks a {
	background-color: #5A524B;
	border-radius: 5px;
	display: inline-block;
	margin: 20px 20px 20px 0px;
	padding: 0px;
}

div#outlinks img {
	width: 80px;
	height: 80px;
	margin: 0px;
}

#event_creator {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#event_creator img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
}

#event_creator li {
	padding: 25px;
}
 
 
#event_members ul
{
  margin:0px;
  padding:0px;
  list-style-type:none;
}
 
.eventmember_info
{
	margin: 25px !important;
	display: inline-block;
}


#event_members li.invited img
{
  opacity:0.3;
}

#event_members li.invited
{
  color:#ccc;
}

.userimage
{
  width:64px;
  height:64px;
  border-radius:10px;
  vertical-align:middle;
}

.button_long .sender, .button_long .comment {
	display: inline-block;
}

.button_long .sender {
	margin: 25px;
}

#event_comments ul
{
  margin:0px;
  padding:0px;
  list-style-type:none;
}

#event_comments ul li
{
  padding-bottom:10px;
}

#event_comments .comment button {
	float: right;
	margin-right: 10px;
	display: block;
}

#event_comments textarea
{
  resize: none;
  width: 625px;
  height:150px;
  margin: 10px 10px 0px 5px !important;
}

/* Event erstellen/editieren */

div#button_wrap {
	width: 640px;
}

#location_order_az {
	float: right;
	margin-right: 10px;
}

#location_order_distance {
	float: right;
	margin-right: 10px;
}

div#location_choose {
	margin: 5px;
}

div.selection {
	margin: 30px 5px 0px 5px;
}

div.selection select {
	font-size: 50px;
	font-weight: normal;
	border: 1px solid #928875;
	padding: 5px;
	border-radius: 5px;
}

ul#eventlocations
{
  width:90%;
  margin:0px auto;
  padding:0px;
  list-style-type:none;
}

#eventlocations li
{
  color:#999;
  border-bottom:1px solid #ccc;
  padding:10px;
  font-size:1em;
}

#eventlocations li.selected
{
  color:#eee;
  background-color:#669933;
}

#eventlocations li b
{
  font-size:1.5em;
}

ul#eventmembers
{
  width: 100%;
  margin:0px auto;
  padding: 0px;
}
  
#eventmembers td:not(:first-child)
{
  padding:10px;
  font-size:1em;
}

#eventmembers tr
{
  color:#999;
  border-bottom:1px solid #ccc;
  padding:10px;
  font-size:1em;
}

#eventmembers img
{
  -moz-border-radius:10px;
  border-radius:10px;
  width:64px;
  height:64px;
}

/* --- Timeline ------------------------------------------------------------------------------------------------------ */

div#timeline {
	margin: 5px;
}

a.new_event_button {
	float: right;
}

div.todayruler
{
  font-size: 22px;
  position:relative;
  width:63px;
  height: 24px;
  margin:0px auto;
  right: 38px;
  padding: 0px;
  /*border-top:1px solid #fff;*/
  border-bottom: 3px solid #BE7844;
  color: #BE7844;
/*  color: #BE7844;*/
  z-index: 10;
}

.day
{
  box-shadow:inset 2px 0px 8px #ccc;
  position:relative;
  left:45%;
  color:#999;
  width:25px;
  height:48px;
}

a
{
  text-decoration:none;
  color: #5A524B;
/*  color:#999;*/
}

.day span.date
{
  position:relative;
  top:0px;
  left:0px;
  border-top:1px solid #928875;
  padding-left:50px;
/*  color:#ccc;*/
  color: #5A524B;
  height:40px;
  width:100px;
  display:block;
}

.day:nth-child(even)
{
  background-color:#eaeaea;
}

.day:nth-child(odd)
{
  background-color:#d1d0d0;
}

.event
{
  box-shadow:inset 2px 0px 8px #999;
  position:absolute;
/*  background-color: #2bc0e8;*/
  background-color: #75A6A3;
  color:#fff;
  width:25px;
  display:block;
}

.eventlabel a, .owneventlabel a {
	color: #5A524B !important;
}

.eventlabel
{
  position:absolute;
  width:200px;
  left:-200px;
  display:block;
/*  border-left:1px dotted #ccc;*/
  padding-left:10px;
/*  color:#999;*/
  color: #5A524B !important;
}

.owneventlabel
{
  position:absolute;
  width:200px;
  left:-200px;
  display:block;
/*  border-left:3px dotted #666;*/
  padding-left:10px;
  color:#999;
}

.eventmembers
{
  position:absolute;
  width:300px;
  left: 70px;
  display:block;
  padding-right:10px;
  color:#999;
}

.eventmembers img
{
  width:48px;
  height:48px;
  margin:5px;
  border-radius:5px;
  vertical-align:middle;
}

/* --- Map ------------------------------------------------------------------------------------------------------ */

div#location_info_wrapper {
	margin: 5px;
}

a.locdetailsid {
	color: #5A524B !important;
}

ul.popup_liste {
}

ul.popup_liste li {
	float: left;
	color: #5A524B;
	padding: 25px !important;
	background-color: #928875;
	margin: 5px;
	border-radius: 5px;
}

span#popup_close_button {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 530px;
	color: #5A524B !important;
	padding: 15px !important;
	background-color: #928875;
	margin: 5px;
	border-radius: 5px;
}

div.olControlAttribution
  {
    display:none;
  }

  .olControlScaleLine
  {
    width:100px;
    position:relative;
    bottom:0px;
    left:540px;
    padding: 4px;
  }

  div.olControlScaleLineTop
  {
    color:#000;
    font-size:20px;
  }

  div.olControlScaleLineBottom
  {
    display:none;
  }
      
  div.olMapViewport
  {
    z-index: 0;
  }
  
  div#map
  {
    width:640px;
  }
  
  div#popup
  {
    display:none;
    width:620px;
    height: 770px;
    background-color: #c8c6b9;
    position:absolute;
    left:10px;
    top:10px;
    z-index:999;
    border-radius:5px;
    padding:0px;
    margin:0px;
    overflow:hidden;
  }
  
  div#popup p
  {
    padding:10px;
  }
  
  div#popup ul
  {
    margin:0px;
    padding:0px;
    list-style-type:none;
  }
  
  div#popup input
  {
    /*width:40px;
    height:40px;*/
   	width: 600px; 
    margin: 5px 10px;
    height: 70px;
    font-size: 50px; 
  }
  
  div#popup li
  {
    padding:20px;
  }
  
  div#popup li:not(:last-child)
  {
    border-bottom:1px solid #999;
  }
  
  div#popup a
  {
    text-decoration:none;
    color: #5A524B;
  }
  
  div#popup li img
  {
    padding-right:20px;
    vertical-align:middle;
  }

  div#popup li.layer
  {
    padding:5px;
    border:0px;
    color: white;
  }

  div#popup li.layer[show=true]
  {
/*    color:#666;*/
    background-color: #8CB192;
  }

  div#popup li.layer[show=false]
  {
/*    color:#ddd;*/
	background-color: #BE7844;
  }
  
  span#button-location-new
  {
    position:absolute;
    top:10px;
    left:10px;
    z-index:990;
  }
  
  span#button-location-new-cancel, span#button-location-new-next, div#popupErrorMsg
  {
  	position: absolute;
  	top: 10px;
  	left: 10px;
  	z-index:990;
    display:none;
  }
  
  span#button-location-new-next {
  	left: 200px;
  }

  span#layerswitcher
  {
    position:absolute;
    top:100px;
    left:10px;
    z-index:990;
  }
  
  #popupErrorMsg {
  	color: #BE7844;
  	top: 650px !important; 
  }

/* --- Seiten ------------------------------------------------------------------------------------------------------ */

div#window
{
  width:100%;
  height:100%;
  overflow-x: hidden;
  overflow-y: auto;
}

div#scroll
{
  display: none;
  width:100%;
  height:25px;
  position:absolute;
  bottom:0px;
  z-index:999;
  text-align:center;
  line-height:25px;
  font-size:25px;
  font-weight:bold;
  color:#ffffff;
}

div#scroll a
{
  color:#ffffff;
  text-decoration:none;
}

ul#pages
{
  margin:0px;
  padding:0px;
  width:5000px;
  height:100%;
  list-style-type:none;
  position:relative;
  left:0px;
  top:0px;
  font-size: 30px;
  font-weight: bold;
  position: relative; /* weil sonst die friends seite nicht geht*/
}

ul#pages>li
{
  float: left;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  max-width: 640px;
  height: 100%;
}

/* --- Überschriften ----------------------------------------------------------------------------------------------- */


/* --- Nachrichtensystem ------------------------------------------------------------------------------------------- */

.messageseparator hr
{
  border:0px;
  height:1px;
  margin:25px 0;
  background:#ccc;
}
